.App {
  text-align: center;
}

.slick-prev:hover,
.slick-next:hover {
  color: #686868 !important;
}
.slick-prev:active,
.slick-next:active {
  color: #f8475f !important;
}
.carousel .control-dots .dot {
  transition: none;
}
.carousel .control-dots .dot.selected {
  background-color: #f8475f;
}
.carousel .control-dots .dot:hover {
  background-color: #f8475f;
}
