.App {
  text-align: center;
}

.slick-arrow:hover {
  color: rgb(133, 122, 122);
}
.carousel .control-dots .dot {
  transition: none;
}
.carousel .control-dots .dot.selected {
  background-color: #f8475f;
}
.carousel .control-dots .dot:hover {
  background-color: #f8475f;
}
